@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

.maincontainer{
    display:flex;
height:auto;
width:1440px;
font-family: 'Josefin Sans', sans-serif;
}
.text{
    padding:5rem 12rem 5rem 7rem;
}
.text p{
    font-size: 70px;
    font-weight:700;
    letter-spacing: 20px;
    margin:10rem 0 2rem 0;
}
.bold{
    color: hsl(0, 36%, 70%);
    font-weight: 200;
}
.text2{
    color:hsl(0, 93%, 68%);
    font-size: 18px;
    word-spacing: .5px;
    line-height: 30px;
}
.text input{
    height:4rem;
    width:30rem;
margin-top:2rem;
border-radius: 50px;
padding:2rem;
border:1px solid hsl(0, 36%, 70%);
margin-bottom: 1rem;;
}
.text input::placeholder{
    color:hsl(0, 93%, 68%);
    opacity:0.5;
    font-size: 15px;
    
}
.btn{
    height:4.09rem;
    width:9rem;
    margin-left: -9rem;
    border-radius: 50px;
    background-image:linear-gradient(135deg,hsl(0, 80%, 86%),hsl(0, 74%, 74%)) ;
    border: none;
position:relative;
top:5px;
}
.btn:hover{
    background-image: linear-gradient(135deg,hsl(0, 50%, 87%),hsl(0, 57%, 74%));
    box-shadow: 2px 2px 20px hsl(0, 57%, 74%);
    transition:.2s ease-in-out;
    transform:scale(1.05);
    cursor:grab;
}
.valcondition{
    color: red;
    font-size: 15px;
    padding:2rem;
}
.btn:focus{
    background-image: linear-gradient(135deg,hsl(0, 50%, 87%),hsl(0, 57%, 74%));
    box-shadow: 2px 2px 20px hsl(0, 57%, 74%);
    transform:scale(1.05);
}
.errorimg{
    
    position:relative;
    left:-10.5rem;
    top:5px;
}
.hidden{
    display:none;
}
.inputtag:invalid{
    border-color: 1px solid red;
}